*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 50px;
  position: fixed;
  top:0;
}


.searchbar{
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.logo img{
  width: 300px;
  padding: 20px;
}

.container_film{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 150px;
}

.locandina{
  width: 400px;
  height: 300px;
  border: 1px solid black;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.locandina ul li{
  list-style-type: none;
  margin-bottom: 10px;
}

.img_film{
  margin-right: 10px;
}
